body{
    background:white;
}

.nav-link {
    color:white;
}

.navbar-brand {
    color: grey;
}

.custom-toggler {
    border: 2px solid #ff0000; /* Cambiar color del borde */
  }
  

.img-bg {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
